* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secondaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    ---claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(---claro);
}

.navegacao {
    position: fixed;
    background-color: rgba(15, 23, 42, 0.8);
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}
.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    padding: 0.5rem 0;
    position: relative;
}

.menu-link::before {
   content: "";
   height: 2px;
   width: 0;
   position: absolute;
   bottom: 0;
   left: 0;
   background: linear-gradient(90deg, var(--primaria), var(--secondaria));
}

.menu-link::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secondaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}


.foto-perfil {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: solid 4px var(--vidro);
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: var(--primaria);
    margin: 20px;
    text-align: center  ;
}

.cabecalho-subtitulo {
    font-size: 1.5rem;
    color: var(--claro);
    text-align: center;
}

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
   font-size: 3rem;
   color: var(--claro);
   margin-bottom: 20px;
}

.sobre-caixa {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    border-radius: 16px;
    border: solid 1px var(--vidro);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.05)
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.2.rem;
}
h2 {
    text-align: center;
}

.projetos {
    padding: 6rem 2rem;
}

.projetos-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;

}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.15) ;
    transition: all 0.5s ease;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: solid 1px var(--vidro);
    overflow: hidden;
}

.info-projetos {

}

.paragrafos-projetos {

}
